@media screen and (min-width: 32rem) { /* 32rem = 512px */
    /* Nav horizontal */
    .navigation .nav-list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .hamburger {
        display: none; /* escondido no desktop */
    }

    /* Grid de templos multi-coluna */
    .temples-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .main-content {
        max-width: 1000px;
    }

    .site-header h1 {
        font-size: 2rem;
    }
}
